<!-- analyze_me/templates/logs/log.html 2020/09/27  M.O-->
{% extends "layout.html" %}
{% block body %}

<section class="logA">
    <div class="con">
        <h2>List of Logs</h2>
        <p class="symbol"><span class="far fa-gem"></span></p>

        <h5>FU_Check</h5>
        <table border="1">
            <tr>
                <th>No.</th>
                <th>実施日</th>
                <th>合計点</th>
                <th>詳細表示</th>
            </tr>

        </table>

    </div>
</section>

{% endblock %}