<!-- analyze_me/templates/logs/logs.html 2020/09/27  M.O-->
{% extends "layout.html" %}
{% block body %}

<section class="logA">
    <div class="con">
        <h2>Lists of Logs</h2>
        <p>ようこそ{{ current_user.name }}さん！</p>
        <p class="symbol"><span class="far fa-gem"></span></p>
        <p>
            これまで実施した心理テストの結果を見ることができます。<br>
            詳細を見たいときは、[表示]ボタンををクリックしてください！
        </p>
        <br>
        <!-- TEGエゴグラム結果表示 -->
        <div class="test-block">
            <h5>TEG_Egogram</h5>
            <p>　　<< テスト結果一覧 >></p>
            <div class="tbl">
            <table border="1">
                {% if teg_results %}
                <tr>
                    <th>実施日</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>　　結果がありません</p>
                {% endif %}

                {% for teg_res in teg_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(teg_res.created_at) }}
                    </td>
                    <td>
                        {% for fac in session.teg_fac %}
                            {{ fac }}: {{ teg_res.a_sum[loop.index-1] }} |
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('views.result', ex_id='teg', result_id=teg_res.id) }}" >
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='teg', result_id=teg_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>

        <!-- POMS結果表示 -->
        <div class="test-block">
            <h5>POMS</h5>
            <p>　　<< テスト結果一覧 >></p>
            <div class="tbl">
            <table border="1">
                {% if pom_results %}
                <tr>
                    <th>実施日</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>　　結果がありません</p>
                {% endif %}

                {% for pom_res in pom_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(pom_res.created_at) }}
                    </td>
                    <td>
                        {% for fac in session.pom_fac %}
                            {{ fac }}: {{ pom_res.a_sum[loop.index-1] }} |
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('views.result', ex_id='pom', result_id=pom_res.id) }}">
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='pom', result_id=pom_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>

        <!-- CES-D結果表示 -->
        <div class="test-block">
            <h5>CES_D</h5>
            <p>　　<< テスト結果一覧 >></p>
            <div class="tbl">
            <table border="1">
                {% if ces_results %}
                <tr>
                    <th>実施日</th>
                    <th>判定</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>　　結果がありません</p>
                {% endif %}

                {% for ces_res in ces_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(ces_res.created_at) }}
                    </td>
                    <td>{{ ces_res.judge }}</td>
                    <td>{{ ces_res.a_sum }}</td>
                    <td>
                        <a href="{{ url_for('views.result', ex_id='ces', result_id=ces_res.id) }}">
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='ces', result_id=ces_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}
            </table>
            </div>

            <p>　　<< テスト結果推移（直近10件まで） >></p>
            <div class="chartA">
                <canvas id="cesChart" class="chartB" height="150" width="700"></canvas>
            </div>
            {% if ces_results %}
                <!--div class="chart1">
                    <img src="{{ url_for('views.plot_graph') }}" >
                </div-->
            {% endif %}

        </div>

        <!-- FUチェック結果表示 -->
        <div class="test-block">
            <h5>FU_Check</h5>
            <p>　　<< テスト結果一覧 >></p>
            <div class="tbl">
            <table border="1">
                {% if fu_results %}
                <tr>
                    <th>実施日</th>
                    <th>判定</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>　　結果がありません</p>
                {% endif %}

                {% for fu_res in fu_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(fu_res.created_at) }}
                    </td>
                    <td>{{ fu_res.judge }}</td>
                    <td>{{ fu_res.a_sum }}</td>
                    <td/>
                        <a href="{{ url_for('views.result', ex_id='fu', result_id=fu_res.id) }}">
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='fu', result_id=fu_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}
            </table>
            </div>

            <p>　　<< テスト結果推移（直近10件まで） >></p>
            <div class="chartA">
                <canvas id="fuChart" class="chartB" height="150" width="700"></canvas>
            </div>
            {% if fu_results %}
                <!--div class="chart2">
                    <img src="{{ url_for('views.plot_graph') }}" >
                </div-->
            {% endif %}

        </div>

        <!-- EQチェック結果表示 -->
        <div class="test-block">
            <h5>EQ_Check</h5>
            <p>　　<< テスト結果一覧 >></p>
            <div class="tbl">
            <table border="1">
                {% if eq_results %}
                <tr>
                    <th>実施日</th>
                    <th>判定</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>　　結果がありません</p>
                {% endif %}

                {% for eq_res in eq_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(eq_res.created_at) }}
                    </td>
                    <td>{{ eq_res.judge }}</td>
                    <td>{{ eq_res.a_sum }}</td>
                    <td>
                        <a href="{{ url_for('views.result', ex_id='eq', result_id=eq_res.id) }}">
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='eq', result_id=eq_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}
            </table>
            </div>

            <p>　　<< テスト結果推移（直近10件まで） >></p>
            <div class="chartA">
                <canvas id="eqChart" class="chartB" height="150" width="700"></canvas>
            </div>
            {% if eq_results %}
                <!--div class="chart3">
                    <img src="{{ url_for('views.plot_graph') }}" >
                </div-->
            {% endif %}

        </div>

        <a href="{{ url_for('analyzes.analyzer_list') }}" class="list-btn">アナライザリスト画面へ</a>

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.js"></script>
<script type="text/javascript">
    /* ces_d設定 */
    var items1 = {{ ces_date|safe }}
    var data1 = {{ ces_asum|safe }}
    /* データ未登録部nullに置き換え */
    for (let i = 0; i < 10; i++) {
        if (data1[i] == "") {
            data1[i] = null;
        }
    }
    /*console.log(items1);
    console.log(data1);*/
    var chart_id1 = 'cesChart'
    var ymax1 = 60
    var an_ymin1 = 17
    var config1 = mk_config(items1, data1, chart_id1, ymax1, an_ymin1, 'ces');

    /* fu_check設定 */
    var items2 = {{ fu_date|safe }}
    var data2 = {{ fu_asum|safe }}
    /* データ未登録部nullに置き換え */
    for (let i = 0; i < 10; i++) {
        if (data2[i] == "") {
            data2[i] = null;
        }
    }
    var chart_id2 = 'fuChart'
    var ymax2 = 50
    var an_ymin2 = 27
    var config2 = mk_config(items2, data2, chart_id2, ymax2, an_ymin2, 'fu');

    /* eq_check設定 */
    var items3 = {{ eq_date|safe }}
    var data3 = {{ eq_asum|safe }}
    /* データ未登録部nullに置き換え */
    for (let i = 0; i < 10; i++) {
        if (data3[i] == "") {
            data3[i] = null;
        }
    }
    var chart_id3 = 'eqChart'
    var ymax3 = 50
    var an_ymin3 = 25
    var config3 = mk_config(items3, data3, chart_id3, ymax3, an_ymin3, 'eq');

    window.onload = function() {
        var ctx1 = document.getElementById(chart_id1).getContext('2d');
        window.myLine = new Chart(ctx1, config1);

        var ctx2 = document.getElementById(chart_id2).getContext('2d');
        window.myLine = new Chart(ctx2, config2);

        var ctx3 = document.getElementById(chart_id3).getContext('2d');
        window.myLine = new Chart(ctx3, config3);
    };

    function　mk_config(items, data, chart_id, ymax, an_ymin, ex_id) {
        var config = {
            type: 'line',
            data: {
                labels: items,
                datasets: [{
                    backgroundColor: '#E68E9F',
                    borderColor: '#E68E9F',
                    data: data,
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: false,
                scales: {
                    xAxes: [{
                        display: true,
                        id: 'x-axis-0',
                        ticks: {
                            autoSkip: false,
                            maxTicksLimit: 10,
                            minRotation: 30
                        }
                    }],
                    yAxes: [{
                        display: true,
                        id: 'y-axis-0',
                        scaleLabel: {
                            display: true,
                        },
                        ticks: {
                            min: 0,
                            max: ymax,
                            stepSize: 10
                        }
                    }]
                },
                annotation: {
                    drawTime: "beforeDatasetsDraw",
                    /*events: ['dblclick'],*/
                    annotations: [
                        makeAnnotations('box-1', an_ymin, 60, ex_id),
                    ],
                }
            }
        };
        return config
    };

    function makeAnnotations(id0, ymin0, ymax0, ex_id) {
        annotations = {
            type: 'box',
            display: false,
            id: id0,
            xScaleID: 'x-axis-0',
            yScaleID: 'y-axis-0',
            xMin: 0,
            xMax: 9,
            yMin: ymin0,
            yMax: ymax0,
            backgroundColor: 'rgba(119, 199, 230, 0.4)',
            borderColor: 'rgba(119, 199, 230, 0.4)',
            borderWidth: 0,
            /*onDblclick: function(e) {
                console.log('Box', e.type, this);
            }*/
        }
        return annotations
    };

</script>

{% endblock %}