<!-- analyze_me/templates/logs/logs.html 2020/09/27  M.O-->
{% extends "layout.html" %}
{% block body %}

<section class="logA">
    <div class="con">
        <h2>List of Logs</h2>
        <p>ようこそ{{ current_user.name }}さん！</p>
        <p class="symbol"><span class="far fa-gem"></span></p>

        <!-- TEGエゴグラム結果表示 -->
        <div class="test-block">
            <h5>TEG_Egogram</h5>
            <table border="1">

                {% if teg_results %}
                <tr>
                    <th>実施日</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>結果がありません</p>
                {% endif %}

                {% for teg_res in teg_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(teg_res.created_at) }}
                    </td>
                    <td>
                        {% for fac in session.teg_fac %}
                            {{ fac }}: {{ teg_res.a_sum[loop.index-1] }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('views.result', ex_id='teg', result_id=teg_res.id) }}" >
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='teg', result_id=teg_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}

            </table>
        </div>

        <!-- POMS結果表示 -->
        <div class="test-block">
            <h5>POMS</h5>
            <table border="1">

                {% if pom_results %}
                <tr>
                    <th>実施日</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>結果がありません</p>
                {% endif %}

                {% for pom_res in pom_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(pom_res.created_at) }}
                    </td>
                    <td>
                        {% for fac in session.pom_fac %}
                            {{ fac }}: {{ pom_res.a_sum[loop.index-1] }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('views.result', ex_id='pom', result_id=pom_res.id) }}">
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='pom', result_id=pom_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}

            </table>
        </div>

        <!-- CES-D結果表示 -->
        <div class="test-block">
            <h5>CES_D</h5>
            <table border="1">

                {% if ces_results %}
                <tr>
                    <th>実施日</th>
                    <th>判定</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>結果がありません</p>
                {% endif %}

                {% for ces_res in ces_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(ces_res.created_at) }}
                    </td>
                    <td>{{ ces_res.judge }}</td>
                    <td>{{ ces_res.a_sum }}</td>
                    <td>
                        <a href="{{ url_for('views.result', ex_id='ces', result_id=ces_res.id) }}">
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='ces', result_id=ces_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}

            </table>
        </div>

        <!-- FUチェック結果表示 -->
        <div class="test-block">
            <h5>FU_Check</h5>
            <table border="1">

                {% if fu_results %}
                <tr>
                    <th>実施日</th>
                    <th>判定</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>結果がありません</p>
                {% endif %}

                {% for fu_res in fu_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(fu_res.created_at) }}
                    </td>
                    <td>{{ fu_res.judge }}</td>
                    <td>{{ fu_res.a_sum }}</td>
                    <td/>
                        <a href="{{ url_for('views.result', ex_id='fu', result_id=fu_res.id) }}">
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='fu', result_id=fu_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}

            </table>
        </div>

        <!-- EQチェック結果表示 -->
        <div class="test-block">
            <h5>EQ_Check</h5>
            <table border="1">

                {% if eq_results %}
                <tr>
                    <th>実施日</th>
                    <th>判定</th>
                    <th>合計点</th>
                    <th>詳細</th>
                </tr>
                {% else %}
                    <p>結果がありません</p>
                {% endif %}

                {% for eq_res in eq_results %}
                <tr>
                    <td>
                        {{ "{0:%Y-%m-%d}".format(eq_res.created_at) }}
                    </td>
                    <td>{{ eq_res.judge }}</td>
                    <td>{{ eq_res.a_sum }}</td>
                    <td>
                        <a href="{{ url_for('views.result', ex_id='eq', result_id=eq_res.id) }}">
                            表示
                        </a>
                    </td>
                    <!-- td>
                        <form action="{{ url_for('views.delete_result', ex_id='eq', result_id=eq_res.id) }}" method="post" >
                            <button type="submit">削除</button>
                        </form>
                    </td -->
                </tr>
                {% endfor %}

            </table>
        </div>

        <a href="{{ url_for('analyzes.analyzer_list') }}" class="list-btn">アナライザリスト画面へ</a>

    </div>
</section>

{% endblock %}