<!-- analyze_me/templates/login.html  2020/09/23  M.O-->
{% extends "layout.html" %}
{% block body %}

    <section class="loginA">
        <div class="container">

            <h2>LOGIN</h2>
            <p class="symbol"><span class="far fa-gem"></span></p>

            <form action="{{ url_for('auth.login') }}" method=post>
                <!-- ユーザIDインプット -->
                <div class="form-group">
                    <label for="InputUserID">User ID</label>
                    <input type="text" class="form-control" id="InputUserID" name=user_id>
                </div>
                <!-- パスワードインプット -->
                <div class="form-group">
                    <p>
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" name=password>
                    </p>
                </div>
                <!-- ログイン保持 -->
                <div>
                    <label>
                        <input type="checkbox" name=remember>
                        Remember me
                    </label>
                </div>
                <!-- ログインボタン -->
                <button type="submit" class="button">LOGIN</button>
                <!--button-- type="submit" class="btn btn-primary">LOGIN</button-->
                <!-- サインアップ画面に移動 -->
            </form>
            <p class="p1">未登録の方は
                <span>
                    <a href="{{ url_for('auth.signup') }}">ユーザー登録</a>
                </span>
                してください
            </p>
        </div>
    </section>

{% endblock %}