<!-- analyze_me/templates/analyzer/description.html 2020/10/07  M.O-->
{% extends "layout.html" %}
{% block body %}

<section class="descA">
    <div class="con">

        <h2>{{ ana.name }}</h2>
        <h5>{{ ana.sub }}</h5>
        <p class="symbol"><span class="far fa-gem"></span></p>

        <div>
        <h5>説明</h5>
            <div class="desc_conA">
                <ul>
                    {% for desc in ana.desc %}
                    <li>
                        {{ desc }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <a href="{{ url_for('analyzes.analyzer', ex_id=session.ex_id) }}">テストを始める</a>
        <a href="{{ url_for('analyzes.analyzer_list') }}" class="list-btn">アナライザリストに戻る</a>
    </div>
</section>

{% endblock %}