<!-- analyze_me/templates/analyzer/.html 2020/10/6  M.O-->
{% extends "layout.html" %}
{% block body %}

<section class="listA">
    <div class="con">

        <h2>LIST of ANALyZERS</h2>
        <p>実施するテストを選ぶと解説ページに移動します</p>
        <p class="symbol"><span class="far fa-gem"></span></p>

        <div class="conA">
        <ul>
            <li>
                <a class="ele" href="{{ url_for('analyzes.description', ex_id='teg') }}" >TEGエゴグラム</a>
            </li>
            <li>
                <a class="ele" href="{{ url_for('analyzes.description', ex_id='pom') }}" >POMS</a>
            </li>
            <li>
                <a class="ele" href= "{{ url_for('analyzes.description', ex_id='ces') }}" >CES-D</a>
            </li>
            <li>
                <a class="ele" href="{{ url_for('analyzes.description', ex_id='fu') }}" >FUチェック</a>
            </li>
            <li>
                <a class="ele" href="{{ url_for('analyzes.description', ex_id='eq') }}"  >EQチェック</a>
            </li>
        </ul>
        </div>

        {% if not current_user.is_authenticated %}
        <p class="p1">未登録の方は
                <span>
                    <a href="{{ url_for('auth.signup') }}">ユーザー登録</a>
                </span>
                してください
        </p>
        {% endif %}

    </div>
</section>

{% endblock %}