<!-- analyze_me/templates/analyzer/.html 2020/10/6  M.O-->
{% extends "layout.html" %}
{% block body %}

<section class="listA">
    <div class="con">

        <h2>ANALyZER LIST</h2>
        <p>実施するテストを選ぶと解説ページに移動します</p>
        <p class="symbol"><span class="far fa-gem"></span></p>

        <ul>
            <li>
                <a href="{{ url_for('analyzes.analyzer_select', id='teg') }}" >TEGエゴグラム</a>
            </li>
            <li>
                <a href="{{ url_for('analyzes.analyzer_select', id='pom') }}" >POMS</a>
            </li>
            <li>
                <a href= "{{ url_for('analyzes.analyzer_select', id='ces') }}" >CES-D</a>
            </li>
            <li>
                <a href="{{ url_for('analyzes.analyzer_select', id='fu') }}" >FUチェック</a>
            </li>
            <li>
                <a href="{{ url_for('analyzes.analyzer_select', id='eq') }}"  >EQチェック</a>
            </li>
        </ul>
    </div>
</section>

{% endblock %}