<!-- analyze_me/templates/analyzer/.html 2020/10/6  M.O-->
{% extends "layout.html" %}
{% block body %}

<section>
    <div class="mc-body">

        <h1>ANALyZER LIST</h1>
        <p>実施するテストを選ぶと解説ページに飛びます</p>
        <ul>
            <li>
                <a href="#" >TEGエゴグラム</a>
            </li>
            <li>
                <a href="#" >POMS</a>
            </li>
            <li>
                <a href="#" >CES-D</a>
            </li>
            <li>
                <a href="{{ url_for('analyzes.description', id='fu') }}" >FUチェック</a>
            </li>
            <li>
                <a href="#" >EQチェック</a>
            </li>
        </ul>
    </div>
</section>

{% endblock %}