<!-- analyze_me/templates/analyzer/query.html 2020/10/06  M.O-->
{% extends "layout.html" %}
{% block body %}

<section>
    <div class="mc-body">
        <h3>{{ name }}</h3>
        {% for query in range(len(ana.queries)) %}
        <h6>質問{{ query+1 }}</h6>
        <p>{{ ana.queries[query] }}</p>

        <form action="ana.analyze(input.id)"
              method="POST">
            {% for opt in range(len(ana.options)) %}
            <input type="radio" name="answer" id=opt >
            <label for=opt >{{ ana.options[opt] }}</label>
            <br>
            {% endfor %}
            <button class="btn" type="submit">決定</button>
        </form>
        {% endfor %}
    </div>
</section>

{% endblock %}