<!-- analyze_me/templates/analyzer/query.html 2020/10/06  M.O-->
{% extends "layout.html" %}
{% block body %}

<section class="queA">
    <div class="con">

        <h2>{{ ana.name }}</h2>
        <p class="symbol"><span class="far fa-gem"></span></p>

        <h5>質問{{ session.que+1 }}</h5>
        <p class="quest">{{ ana.queries[session.que] }}</p>

        <form action="{{ url_for('examin.analyzer', ex_id=ex_id ) }}" method="POST">
            {% for opt in range(0, ana.options|length) %}
            <input class="radio" type="radio" name="answer" id={{ opt }} value={{ opt }} >
            <label class="label" for={{ opt }} >{{ ana.options[opt] }}</label>
            <br>
            {% endfor %}
            <input class="button" type="submit" value="決定">
        </form>

    </div>
</section>

{% endblock %}