@charset "UTF-8";

/* 基本色・サイズ */
:root {
    --main-color: #77C7E6;
    --accent-color: #E68E9F;
    --dark-color: #3A7E99;
    --opposite-color: #9AE665;
    --text-bright-color: #fff;
    --text-dark-color: #000;
    --gray-color: #ddd;
    --large-width: 1000px;
    --middle-width: 800px;
}

/* 基本設定：フォントサイズ */
@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}

/* 基本設定：ページ全体 */
body {
    margin: 0;
    font-family: 'メイリオ',
        'Hiragino Kaku Gothic Pro',
        'sans-serif';
}

/* INDEX：　ヒーローイメージ */
.indexA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 450px;
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(img/048059.png);
    background-position: center;
    background-size: cover;
    color: #000;
    color: var(--text-dark-color);
    text-align: center;
}

.indexA h1 {
    margin-top: 0;
    margin-bottom: 10;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 15vw;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

.indexA img {
    width: 15%;
}

.indexA a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 50px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #E68E9F;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.indexA a:hover {
    text-decoration: none;
    color: #fff;
    color: var(--text-bright-color);
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

@media (min-width: 768px) {
    .indexA h1 {
        font-size: 115px;
    }
}

/* LIST画面 */
.listA .container {
    margin-top: 60px;
    padding: 30px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.listA h1 {
    margin-top: 0;
    margin-bottom: 15;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 70px;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

.listA ul {
    margin-top: 10;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.listA a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #E68E9F;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.listA a:hover {
    color: #fff;
    color: var(--text-bright-color);
    text-decoration: none;
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

/* 説明画面 */
.descA .container {
    margin-top: 60px;
    padding: 30px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.descA h1 {
    margin-top: 0;
    margin-bottom: 15;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 70px;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

.descA h3 {
    margin-top: 0;
    margin-bottom: 15;
    font-size: 30px;
}

.descA a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #E68E9F;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.descA a:hover {
    color: #fff;
    color: var(--text-bright-color);
    text-decoration: none;
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

/* 質問画面 */
.queA .container {
    margin-top: 60px;
    padding: 30px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px:
    max-width: var(--middle-width);
    margin-left: auto;
    margin-right: auto;
}

.queA h1 {
    margin-top: 0;
    margin-bottom: 15;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 70px;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

.queA .radio {
    display: none;
}

.queA .label {
    display: inline-block;
    margin-top: 3px;
    padding: 10px;
    width: 300px;
    border: solid 1px currentColor;
    border-radius: 6px;
    background-color: #fff;
    background-color: var(--text-bright-color);
    color: #000;
    color: var(--text-dark-color);
    font-size: 14px;
    text-decoration: none;
}

.queA .label:hover {
    color: #fff;
    color: var(--text-bright-color);
    text-decoration: none;
    background-color: #9AE665;
    background-color: var(--opposite-color);
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

.queA input[type="radio"]:checked + label {
    color: #fff;
    color: var(--text-bright-color);
    text-decoration: none;
    background-color: #9AE665;
    background-color: var(--opposite-color);
}

.queA .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #E68E9F;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.queA .button:hover {
    color: #fff;
    color: var(--text-bright-color);
    text-decoration: none;
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

/* 結果表示画面A */
.resA .container {
    margin-top: 60px;
    padding: 30px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px:
    max-width: var(--middle-width);
    margin-left: auto;
    margin-right: auto;
}

.resA h1 {
    margin-top: 0;
    margin-bottom: 15;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 70px;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

.resA table {
    margin-left: auto;
    margin-right: auto;
}

.resA a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    width: 300px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #E68E9F;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.resA a:hover {
    color: #fff;
    color: var(--text-bright-color);
    text-decoration: none;
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

/* 結果表示画面B _graph */
.resB .container {
    margin-top: 60px;
    padding: 30px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.resB h1 {
    margin-top: 0;
    margin-bottom: 15;
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 70px;
    letter-spacing: 0.1em;
    margin-left: 0.1em;
}

.resB table {
    margin-left: auto;
    margin-right: auto;
}

.resB .tabA td {
    width: 30px;
}

.resB .tabA .tdA {
    background-color: #77C7E6;
    background-color: var(--main-color);
}

.resB a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px;
    width: 300px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background-color: #E68E9F;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.resB a:hover {
    color: #fff;
    color: var(--text-bright-color);
    text-decoration: none;
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}


/* ヘッダー */
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

/* ヘッダーA: サイト名 */
.headA {
    display: inline-block;
    line-height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #77C7E6;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 30px;
    text-decoration: none;
}

.headA:hover {
    text-decoration: none;
    color: #fff;
    color: var(--text-bright-color);
    background-image: linear-gradient(
        rgba(255,255,255,0.2),
        rgba(255,255,255,0.2)
    );
}

/* ヘッダーB: ナビゲーションメニュー */
.headB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a {
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.headB a:hover {
    text-decoration: none;
    color: inherit;
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    header .conH {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .headB ul {
        display: flex;
    }
}

/* ヘッダーC: トグルボタン */
/* 小さい画面用の設定 */
@media (max-width: 767px) {
    header .conH-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headC {
        margin-right: 15px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
    }

    .headC:hover {
        opacity: 0.3;
    }

    .headB {
        display: none;
    }
}

/* 大きい画面用の設定 */
@media (min-width: 768px) {
    .headC {
        display: none;
    }

    .headB {
        display: block !important;
    }
}
